body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #fff;
  font-size: 14px;
}

h1 {
    text-align: center;
    padding: 20px 0 30px;
}

footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        text-align: center;
    
}
      
.copyright {
        padding: 20px 0;
        font-size: 12px;
        color: #666;
}