body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #ddd;
  font-size: 14px;
}

header {
  background-image: url("profbg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
    padding: 30px 0;
    text-align: center;
}

#logo img {
  max-width: 200px;
  border: 5px solid #fff;
  border-radius: 100%;
}

#logo h1 {
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}

.container {
  border-radius: 15px;
  max-width: 800px;
  margin: -30px auto 30px;
  background-color: #fff;
}

footer {
        position: absolute;
        width: 100%;
        border-top: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        text-align: center;
    
}
      
.copyright {
        padding: 20px 0;
        font-size: 12px;
        color: #666;
}